<div class="header">
  <a href="index.html" class="logo">Alex Chaplinsky</a>
  <a href="javascript:void(0)" class="navigation-toggle"></a>
  <div class="mobile-menu">
    <a href="javascript:void(0)" class="navigation-toggle"></a>
    <ul class="navigation">
      <li><a href="about.html"><%= I18n.t(:about) %></a></li>
      <li><a href="https://kit.com/alchaplinsky" target="_blank"><%= I18n.t(:gear) %></a></li>
      <li><a href="https://sellfy.com/alchaplinsky" target="_blank"><%= I18n.t(:shop) %></a></li>
      <li><a href="contact.html"><%= I18n.t(:contact) %></a></li>
      <li><a href="https://patreon.com/alchaplinsky" target="_blank" class="action"><%= I18n.t(:contribute) %></a></li>
    </ul>
  </div>
</div>
